<!--Шаблон для вкладки "Контакти"-->

{% extends 'base.html' %}
{% block content %}



<div class="container">
<h3 class="text-center mt-4">Контакти</h3>
    <h4 class="text-center mb-4"><b>пр. Леся Курбаса, 2Б, оф.305</b></h4>

    <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.422458539857!2d30.396430415730833!3d50.433231279472935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc755aac55c9%3A0xff750b57c40545f8!2z0L_RgNC-0YHQvy4g0JvQtdGB0Y8g0JrRg9GA0LHQsNGB0LAsIDLQkSwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1622875473168!5m2!1sru!2sua"
            class="mb-3" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="row mt-2 text-center d-flex justify-content-center">

        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header"><h4>Електронна пошта</h4></div>
              <div class="card-body">
                <h5 class="card-title">ripka.climat@gmail.com</h5>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4>Київстар</h4></div>
              <div class="card-body">
                <h5 class="card-title">+380 96 845 07 74</h5>
              </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 mb-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header"><h4>Водафон</h4></div>
              <div class="card-body">
                <h5 class="card-title">+380 95 149 09 32</h5>
              </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}