<!--Шаблон для вкладки "Оплата та доставка"-->

{% extends 'base.html' %}
{% block content %}
<div class="row">
    <img src="../media/placeholder1600x400.png" class="img-fluid mt-3" alt="placeholder"></div>
</div>

<h3 class="mt-3 mb-3 text-center">Доставка в Києві</h3>

<div class="container">

        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Доставка в Києві
                    (розрахунок готівкою)</h5>
                </div>
              <div class="card-body">
                <p class="card-text">Доставка здійснюється з понеділка по п'ятницю (з 10:00 до 20:00) безкоштовно.
                    Товари, замовлені в суботу та неділю доставляються в понедельнік.Доставка здійснюється в міру
                    можливості, при завчасному замовленні (бажано за добу) .При неможливості провести доставку,
                    товар можна забрати в нашому офісі (обов'язково погодивши це з нашими менеджерами).
                    Можливість доставки прохання уточнювати у наших менеджерів. * Вартість доставки: - безкоштовна
                    доставка здійснюється водієм до під'їзду; - доставка в передмістя здійснюється за тарифом:
                    9грн / км від КПП.</p>
              </div>
            </div>
          </div>


        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Доставка в Києві
                    (безготівковий розрахунок)</h5>
                </div>
              <div class="card-body">
                <p class="card-text">При безготівковому розрахунку доставка здійснюється на протязі 2-х робочих днів
                    після надходження коштів на наш розрахунковий рахунок. Також, Ви можете отримати товар самостійно
                    в нашому офісе.Для оформлення доставки Вам необхідно відправити нам заявку на e-mail або моб.тел
                    Для юридичних осіб: копію довіреності та свідоцтва платника ПДВ або єдиного податку;</p>
              </div>
            </div>
          </div>

<h3 class="mt-3 mb-3 text-center">Доставка по Україні</h3>

        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Доставка в Києві
                    (безготівковий розрахунок)</h5>
                </div>
              <div class="card-body">
                <h5 class="card-title">Доставка по Україні</h5>
                  <p class="card-text">Доставка по Україні здійснюється партнерами-перевізниками компанії.
                      Замовлений товар може бути доставлений практично в будь-який регіон України такими перевізниками:
                      "Нова пошта", "Нічний експрес", "Автолюкс", "Делівері", "Інтайм", "Ваш час".
                      Доставка по Україні платна і оплачується клієнтом перевізнику за фактом отримання товару згідно
                      з тарифами перевізників. Оплата за техніку здійснюється будь-яким зручним для Вас способом.</p>
            </div>
          </div>
        </div>

<h3 class="mt-3 mb-3 text-center">Кур'єрські служби</h3>

        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Нова пошта</h5>
                </div>
                <div class="card-body">
                <p class="card-text">"Нова пошта" - лідер експрес-доставки вантажів в будь-яку точку України.
                    При доставці товару компанії «Нова пошта» гарантує: - Своєчасну і якісну доставку в будь-яке місто
                    України; - Безкоштовне зберігання товару на складі протягом 5 робочих днів, включаючи день, коли
                    він повинен був отриманий одержувачем. За зберігання вантажу на складі більше 5-ти днів налічується
                    доплата в розмірі 20% від вартості перевезення вантажу, без урахування суми комісії за кожний
                    наступний робочий день. Одним з важливих переваг цього оператора є можливість оплати за товар в
                    момент його фактичного отримання. Розрахунок вартості доставки і страховки "Новою поштою"
                    відповідно до тарифів компанії.</p>
              </div>
            </div>
          </div>


        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Нічний експрес</h5>
                </div>
                <div class="card-body">
                <p class="card-text">"Нічний експрес" - здійснює регулярні вантажоперевезення по 100 містам України.
                    Вантаж прибуде до місця призначення протягом 24 годин, за винятком транзитних вантажів і адресних
                    доставок. Доставлений вантаж буде зберігатися в офісі "Нічного експреса" в місті прибуття. Ви
                    зможете забрати його в будь-який зручний для Вас час. Розрахунок вартості доставки і страховки
                    "Нічний експрес" відповідно до тарифів компанії.</p>
              </div>
            </div>
          </div>

        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Делівері</h5>
                </div>
                <div class="card-body">
                <p class="card-text">"Делівері" - логістична компанія, яка здійснює за встановленим графіком щоденну
                    доставку вантажів по Україні за принципом: «зі складу на склад», тобто багаж приймається на склад
                    компанії в місті відправлення і видається на складі компанії в місті отримання. Зараз на рахунку
                    компанії 166 представництв. Розрахунок вартості доставки і страховки "Делівері" відповідно до
                    тарифів компанії.</p>
              </div>
            </div>
          </div>

        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">Автолюкс</h5>
                </div>
                <div class="card-body">
                <p class="card-text">"Автолюкс" - щодня здійснює перевезення багажу по території України. На
                    сьогоднішній день відкрито 136 офісів в 90 містах України. Вантаж в пункті призначення зберігається
                    безкоштовно протягом 5-ти календарних днів. За кожен наступний додатковий день зберігання
                    оплачується сума, яка складає 25% від вартості перевезення. Розрахунок вартості доставки і
                    страховки "Автолюкс" відповідно до тарифів компанії.</p>
              </div>
            </div>
          </div>

        <div class="card mb-3">
            <div class="col-md-14">
                <div class="card-header" style="background-color: #e3f2fd;"> <h5 class="card-title">ІнТайм</h5>
                </div>
                <div class="card-body">
                <p class="card-text">"Інтайм" - один з лідерів за можливостями доставки та географії перевезень в
                    Україні. Перевезення вантажів по Україні здійснюються протягом 1-2 днів, на деяких напрямках -
                    до 3 днів. Компанія надає такі послуги вантажоперевезення, як: експрес-доставка вантажів,
                    доставка вантажів Двері-Двері. Розрахунок вартості доставки і страховки "Інтайм" відповідно до
                    тарифів компанії.</p>
              </div>
            </div>
          </div>

</div>


{% endblock content %}