{% extends 'base.html' %}

{% block content %}

<div class="container fluid">
    <div class="col-lg-9">
  <div class="row">
  </div>
  </div>


<!--      ПОЛЕ ПРОДУКТА         -->
    <div class="container">
    <div class="col-lg-9">
    <div class="row justify-content-md-center">
    <div class="col-md-4">
    <img src="{{ product.image.url }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ product.title }}</h3>
        <h5>Ціна: {{ product.price }} грн.</h5>
        <p>Опис: {{ product.description }}</p>
        <hr>
        <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-danger"> В корзину </button> </a>
    </div>
        <h5 class="mt-4 pl-4">Характеристики:</h5>
        {% include 'conditioner_specs.html' %}
    </div>
    </div>
</div>

{% endblock content %}