<!--Шаблон для вкладки "Сервіс"-->

{% extends 'base.html' %}
{% block content %}

<div class="row">
    <img src="../media/placeholder1600x400.png" class="img-fluid mt-3" alt="placeholder"></div>

<div class="container">
<div>
<h1 class="text-center mt-5">Сервіс кондиціонерів в Києві</h1>
<h5 class="mt-1 text-center ">Обслуговування кондиціонерів в Києві має проводитися 2 рази в рік досвідченими спеціалістами.
    Не нашкодь та не зломай запчастини спліт-системи — головний принцип найкращих сервісних спеціалістів.</h5>
</div>
<h3 class="text-center mt-5">В перечень робіт, які входять до сервісного обслуговування кондиціонера, входять:</h3>

<ul class="list-group mt-3">
  <li class="list-group-item">Діагностика кондиціонера</li>
  <li class="list-group-item">Перевірка та чистка теплообмінника зовнішнього та внутрішнього блоків</li>
  <li class="list-group-item">Перевірка та чистка фільтрів, випаровувача, конденсатора</li>
  <li class="list-group-item">Перевірка та промивка дренажної системи кондиціонера</li>
  <li class="list-group-item">Вимірювання температури вихідного потоку</li>
  <li class="list-group-item">Вимірювання робочого тиску в системі</li>
  <li class="list-group-item">Діагностика витоку фреона</li>
  <li class="list-group-item">Перевірка електричних з'єднань</li>
  <li class="list-group-item">Перевірка та відновлення термоізоляції фреонопровода (в доступних місцях)</li>
  <li class="list-group-item">Консультування та навчання клієнтів основних правил використання кондиціонерами та наглядом за ними</li>
</ul>
</div>
{% endblock content %}